
fastapi==0.55.1
uvicorn==0.11.3
pydantic==1.4
email-validator==1.1.1
pandas==1.2.3
pandas-market-calendars==1.6.1





# db
databases[postgresql]==0.4.2
alembic==1.5.8
SQLAlchemy==1.4.6
asyncio==3.4.3
SQLAlchemy-Paginator==0.2
AST==0.0.2
psycopg-binary
aiohttp==3.7.4.post0
orjson==3.5.2







