
fastapi==0.55.1
uvicorn==0.11.3
pydantic==1.4
numpy==1.20.2
email-validator==1.1.1
pandas==1.2.3
pandas-market-calendars==1.6.1
Jinja2==2.11.3
aiofiles==0.6.0






# db
databases[postgresql]==0.4.2
alembic==1.5.8
SQLAlchemy==1.4.6
asyncio==3.4.3
SQLAlchemy-Paginator==0.2

psycopg2-binary
aiohttp
orjson==3.5.2







